<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ccfish.jvue.domain.dao.JvueExRoleSegmentMapper">
  <resultMap id="BaseRoleResultMap" type="net.ccfish.jvue.domain.model.JvueExRoleSegment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="segment_id" jdbcType="INTEGER" property="segmentId" />
    <association property="segment" javaType="net.ccfish.jvue.autogen.model.JvueSegment">
        <id column="s_id" jdbcType="INTEGER" property="id" />
        <result column="s_page_id" jdbcType="INTEGER" property="pageId" />
        <result column="s_segment_code" jdbcType="INTEGER" property="segmentCode" />
        <result column="s_name" jdbcType="VARCHAR" property="name" />
    </association>
  </resultMap>
 
  <select id="selectSegmentByRole" parameterType="java.util.List" resultMap="BaseRoleResultMap">
    select 
        jvue_role_segment.id, jvue_role_segment.role_id, jvue_role_segment.segment_id,
        jvue_segment.id as s_id, jvue_segment.name as s_name, jvue_segment.page_id as s_page_id, jvue_segment.segment_code as s_segment_code
    from jvue.jvue_role_segment
        inner join jvue.jvue_segment on(jvue_segment.id = jvue_role_segment.segment_id)
    where 
      jvue_role_segment.role_id in 
      <foreach close=")" collection="roleIds" item="listItem" open="(" separator=",">
            #{listItem,jdbcType=INTEGER}
     </foreach>
  </select>

  <select id="selectSegmentByRoleAndModule" resultType="java.lang.Integer">
    select 
        jvue_role_segment.segment_id
    from jvue.jvue_role_segment jvue_role_segment
        inner join jvue.jvue_segment c on(c.id = jvue_role_segment.segment_id)
        inner join jvue.jvue_page p on(c.page_id = p.id)
    where
        jvue_role_segment.role_id  = #{roleId,jdbcType=INTEGER}
        <if test="moduleId != null">
        and p.module_id = #{moduleId,jdbcType=INTEGER}
        </if>
  </select>
</mapper>